.footer
	.footer-nav
		.footer-nav__list
			a(href='javascript:void(0);') О нас
			a(href='javascript:void(0);') Оплата и доставка
			a(href='javascript:void(0);') Филиалы и склады
			a(href='javascript:void(0);') Новости
			a(href='javascript:void(0);') Сертификаты
			a(href='javascript:void(0);') Контакты
	.footer__row
		.footer__lc
			img(src='./img/footer-logo.png', width='', height='', alt='')
		.footer__cc
			.footer-contacts
				.footer-contacts__item
					p Алтайский край, г. Барнаул, ул. Попова, 181Е, 2 этаж
				.footer-contacts__item
					a.footer-contacts--email(href='mailto:info@texnika-profi.ru') info@texnika-profi.ru
					a.footer-contacts--phone_big(href='tel:+78007006669') +7 (800) 700-66-69 
					a.footer-contacts--phone_small(href='tel:+74999255706') +7 (499) 925-57-06
		.footer__rc
			.footer__social
				a.footer__social--item.vk-icon(href='javascript:void(0);')
				a.footer__social--item.fb-icon(href='javascript:void(0);')
				a.footer__social--item.ig-icon(href='javascript:void(0);')
				a.footer__social--item.ok-icon(href='javascript:void(0);')
			.footer-payment
				.footer-payment__row
					.footer-payment--title Принимаем оплату
					img(src='./img/visa-icon.png', width='', height='', alt='')
					img(src='./img/mastercard-icon.png', width='', height='', alt='')
	.footer-copy
		.footer-copy__row
			.footer-copy--text ООО «Оборудование профессиональной кухни»
			.footer-copy--author Разработка сайта – #[a(href='javascript:void(0);') #[img(src='./img/letsrock-logo.png', width='104', height='23', alt='')]]