.panel
	.panel__row
		span.panel--city Ваш город: #[a.panel--city_link(href='javascript:void(0);') Барнаул]
		.panel__nav
			a(href='javascript:void(0);') Доставка и оплата
			a(href='javascript:void(0);') Отзывы и портфолио
			a(href='javascript:void(0);') О нас
			a(href='javascript:void(0);') Новости 
			a(href='javascript:void(0);') Контакты
		ul.panel__user
			li #[a(href='javascript:void(0);') Вход]
			li #[a(href='javascript:void(0);') регистрация]
		.panel__rc
			a.panel--icon.panel--icon_compare(href='javascript:void(0);') #[span 54]
			a.panel--icon.panel--icon_favorite(href='javascript:void(0);') #[span 27]
.header
	.header__row
		.header__lc
			a.header--logo(href='javascript:void(0);')
		.header__cc
			.header-contacts
				.header-contacts__item
					a.header-contacts--email(href='javascript:void(0);') info@texnika-profi.ru
				.header-contacts__item
					a.header-contacts--phone_big(href='tel:+78007006669') +7 (800) #[strong 700-66-69]
					a.header-contacts--phone_small(href='tel:+74999255706') +7 (499) 925-57-06
				.header-contacts__item
					a.header-contacts--consultation(href='javascript:void(0);') Заказать консультацию
			.header__search
				input(type='text', placeholder='Поиск')
				button.header__search--submit #[span Найти]
		.header__rc
			a.header__basket(href='javascript:void(0);')
				span.header__basket--quantity 29
				span.header__basket--price 1 564 820 руб.
	.nav
		a.nav__link(href='javascript:void(0);')
			i.nav--icon.nav--icon_1
			span.nav--text Тепловое оборудование
		a.nav__link(href='javascript:void(0);')
			i.nav--icon.nav--icon_2
			span.nav--text Холодильное оборудование
		a.nav__link(href='javascript:void(0);')
			i.nav--icon.nav--icon_1
			span.nav--text Технологическое оборудование
		a.nav__link(href='javascript:void(0);')
			i.nav--icon.nav--icon_1
			span.nav--text Нейтральное оборудование
		a.nav__link(href='javascript:void(0);')
			i.nav--icon.nav--icon_3
			span.nav--text Барное оборудование
		a.nav__link(href='javascript:void(0);')
			i.nav--icon.nav--icon_3
			span.nav--text Упаковочное оборудование
		a.nav__link(href='javascript:void(0);')
			i.nav--icon.nav--icon_3
			span.nav--text Клининговое оборудование
		a.nav__link(href='javascript:void(0);')
			i.nav--icon.nav--icon_3
			span.nav--text Линии раздач