.fade-bg
.modal.modal_buy(data-target='buy-one-click')
	span.modal--close
	.modal__content
		span.modal__content--title Купить в 1 клик
		.modal__item
			.modal__item--pic
				span
					img.img-cover(src='./pic/catalog-3.png', width='55' height='55', alt='')
			.modal__item--code Код: 0191
			.modal__item--title Печь хлебопекарная Восход ХПЭ-500 нерж. сталь, в обрешетке
			.modal__item--price #[span 1 410 900 Р] 1 395 689 ₽
	.modal__form
		.modal__form--title Введите ваши данные
		.modal__form--item
			label(for='modal-name') #[span Имя]
			input(type='text', id='modal-name')
		.modal__form--item
			label(for='modal-phone') #[span Телефон]
			input.has-error(type='text', id='modal-phone')
			span.input-message.is-absoluted #[span Введите верный телефон]
		label.modal__form--agreement #[input(type='checkbox', checked) ] Я согласен на обработку персональных данных
		button.modal__form--button Отправить
.modal.modal_user(data-target='user', data-tabs-container)
	span.modal--close
	.modal_user__nav
		a(href='1', data-tabs-link) Регистрация
		a(href='2', data-tabs-link) Вход
	.modal_user__tabs(data-tabs)
		.modal_user__col
			.modal_user__grid
				.modal_user__item
					label.modal_user__item--label Фамилия имя отчество *
					input.standart(type='text')
				.modal_user__item
					label.modal_user__item--label Email *
					input.standart.has-error(type='text')
					span.input-message.is-absoluted #[span Введите верный e-mail]
				.modal_user__item
					label.modal_user__item--label Телефон *
					input.standart(type='text')
				.modal_user__item
					label.modal_user__item--label Пароль *
					input.standart(type='text')
				.modal_user__item.modal_user__item_wide
					span.modal_user__item--label Пол
					.modal_user__list
						label.modal_user__list--label #[input(type='radio', name='sex')] Мужской
						label.modal_user__list--label #[input(type='radio', name='sex')] Женский
				.modal_user__item.modal_user__item_wide
					label.modal_user__item--label Дата рождения
					.modal_user__date
						.modal_user__date--item
							select
								option День
								option 1
						.modal_user__date--item
							select
								option Мес.
								option 1
						.modal_user__date--item
							select
								option Год
								option 1
				.modal_user__item
					label.modal_user__item--label Название организации *
					input.standart(type='text')
				.modal_user__item
					label.modal_user__item--label Телефон организации *
					input.standart(type='text')
			label.modal_user--agreement #[input(type='checkbox', checked)] Я согласен на обработку персональных данных
			button.btn Зарегистрироваться
		.modal_user__col
			.modal_user__grid
				.modal_user__item
					label.modal_user__item--label Логин *
					input.standart(type='text')
				.modal_user__item
					label.modal_user__item--label Пароль *
					input.standart(type='text')
			.modal_user__login
				button.btn Войти
				a.modal_user--recover(href='javascript:void(0);') Забыли пароль?
.modal.modal_review(data-target='add-review')
	span.modal--close
	span.modal--title Добавить отзыв
	.modal_review__grid
		.modal_review__item
			label.modal_review__item--label Имя
			input.standart(type='text', value='Иван')
		.modal_review__item
			label.modal_review__item--label Организация
			input.standart.has-error(type='text', value='Бочка')
			span.input-message.is-absoluted #[span Введите название организации]
		.modal_review__item
			label.modal_review__item--label Должность
			input.standart(type='text', value='Шеф-повар')
		.modal_review__item.modal_review__item_wide
			label.modal_review__item--label Отзыв
			textarea.standart(rows='15')
	button.btn Опубликовать
.modal.modal_branch(data-target='branch')
	span.modal--close
	span.modal--title ООО «Название организации»
	.modal_branch__grid
		.modal_branch__content
			.modal_branch-list
				li
					span.modal_branch-list--address #[i.modal_branch-list--icon.modal_branch-list--icon_pin ] Россия, Московская область, #[br] Балашиха, шоссе Энтузиастов, 4
				li
					span.modal_branch-list--title #[i.modal_branch-list--icon.modal_branch-list--icon_user ] контактное лицо
					span.modal_branch-list--link Васильев Сергей Анатольевич
				li
					span.modal_branch-list--title звонок бесплатный по России
					a.modal_branch-list--phone(href='tel:+79128005588') #[i.modal_branch-list--icon.modal_branch-list--icon_phone ] +7 (912) 800-55-88
				li
					span.modal_branch-list--title электронная почта
					a.modal_branch-list--link(href='mailto:info@texnika-profi.ru') #[i.modal_branch-list--icon.modal_branch-list--icon_email ] info@texnika-profi.ru
		.modal_branch__rc
			span.modal_branch__rc--title Схема проезда
			.modal_branch--map
.menu-drop
	span.menu-drop--close
	span.menu-drop--logo
	.menu-drop__row
		span.menu-drop--elem #[i.menu-drop--icon.menu-drop--icon_pin] #[span Ваш город:] #[a.menu-drop--elem_city(href='javascript:void(0);') Барнаул]
		.menu-drop__city
			a.menu-drop__nav--link(href='javascript:void(0)') Москва
			a.menu-drop__nav--link(href='javascript:void(0)') Барнаул
			a.menu-drop__nav--link(href='javascript:void(0)') Петропавловск-Камчатский
		span.menu-drop--elem #[i.menu-drop--icon.menu-drop--icon_user] #[a(href='javascript:void(0);', data-open='user', data-tab-set='2') Вход] | #[a(href='javascript:void(0);', data-open='user', data-tab-set='1') регистрация]
		.menu-drop__nav
			a.menu-drop__nav--link(href='javascript:void(0)') Каталог оборудования #[i.menu-drop__nav--arrow]
			.menu-drop__sub
				a.menu-drop__nav--link(href='javascript:void(0)') Тепловое
				a.menu-drop__nav--link(href='javascript:void(0)') Холодильное
				a.menu-drop__nav--link(href='javascript:void(0)') Технологическое
				a.menu-drop__nav--link(href='javascript:void(0)') Нейтральное
				a.menu-drop__nav--link(href='javascript:void(0)') Барное
				a.menu-drop__nav--link(href='javascript:void(0)') Упаковочное
				a.menu-drop__nav--link(href='javascript:void(0)') Клининговое
				a.menu-drop__nav--link(href='javascript:void(0)') Линии раздач
			a.menu-drop__nav--link(href='javascript:void(0)') Доставка и оплата      
			a.menu-drop__nav--link(href='javascript:void(0)') Отзывы и портфолио     
			a.menu-drop__nav--link(href='javascript:void(0)') О нас
			a.menu-drop__nav--link(href='javascript:void(0)') Филиалы и склады      
			a.menu-drop__nav--link(href='javascript:void(0)') Новости
			a.menu-drop__nav--link(href='javascript:void(0)') Сертификаты      
			a.menu-drop__nav--link(href='javascript:void(0)') Контакты
		.menu-drop__group
			a.menu-drop__group--item(href='javascript:void(0)') Сравнение #[sub 29]
			a.menu-drop__group--item(href='javascript:void(0)') Избранное #[sub 55]
		a.menu-drop--email(href='mailto:info@texnika-profi.ru') #[span info@texnika-profi.ru]