doctype html
html(lang='ru')
	title Оборудование профессиональной кухни
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, user-scalable=yes')
	body(align='center')
		ol(style='display:inline-block;width:290px;font-size:20px;line-height:30px;text-align:left')
			li
				a(href='./index.html') Главная
			li
				a(href='./catalog-list.html') Каталог список
			li
				a(href='./catalog-table.html') Каталог таблица
			li
				a(href='./catalog-tile.html') Каталог плитка
			li
				a(href='./category-view.html') Категория вид
			li
				a(href='./category-brands.html') Категория бренды
			li
				a(href='./category-directions.html') Категория направления
			li
				a(href='./product-card.html') Карточка товара
			li
				a(href='./basket.html') Корзина
			li
				a(href='./favorite.html') Избранное
			li
				a(href='./orders.html') Мои заказы
			li
				a(href='./orders-item.html') Страница заказа
			li
				a(href='./orders-item.html') Оформление заказа
			li
				a(href='./profile.html') Профиль
			li
				a(href='./portfolio.html') Портфолио
			li
				a(href='./reviews.html') Отзывы
			li
				a(href='./blog.html') Список статей
			li
				a(href='./blog-item.html') Статья
			li
				a(href='./contacts.html') Контакты
			li
				a(href='./branches.html') Филиалы и склады
			li
				a(href='./not-found.html') Страница 404