doctype html
html(lang='ru')
	title Оборудование профессиональной кухни
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, user-scalable=yes')
	link(href='./css/style.css', rel='stylesheet')
	body
		.wrapper
			include modules/header.pug
			.content
				.breadcrumbs
					ul
						li
							a(href='javascript:void(0);') Главная
						li Блог
				.content__row
					span.title-h1 #[span Акция на конвекционную электрическую печь Unox XEBC-10EU-E1R]
					.article
						.article__grid
							.article__content
								span.article--date #[span 10 июля 2017]
								.article-slider(data-ratio='0.493')
									.article-slider__item.scale
										img.img-cover(src='./pic/blog-big-1.jpg', width='858', height='423', alt='')
									.article-slider__item.scale
										img.img-cover(src='./pic/blog-big-2.jpg', width='858', height='423', alt='')
									.article-slider__item.scale
										img.img-cover(src='./pic/blog-big-3.jpg', width='858', height='423', alt='')
									.article-slider__item.scale
										img.img-cover(src='./pic/blog-big-4.jpg', width='858', height='423', alt='')
									.article-slider__item.scale
										img.img-cover(src='./pic/blog-big-5.jpg', width='858', height='423', alt='')
								p Повседневная практика показывает, что сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности позволяет выполнять важные задания по разработке систем массового участия.
								p Равным образом реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития. С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки направлений прогрессивного развития. Не следует, однако забывать, что рамки и место обучения кадров играет важную роль в формировании форм развития.
								p Идейные соображения высшего порядка, а также новая модель организационной деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения дальнейших направлений развития. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом новая модель организационной деятельности требуют от нас анализа систем массового участия.
								p Задача организации, в особенности же начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке новых предложений.
								ul
									li Таким образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важжные задания по разработке новых предложений. 
									li Равным образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. 
									li Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений.
							.article__rc
								.article-preview(data-ratio='0.96')
									.article-preview__item.is-active
										.article-preview--pic.scale
											img.img-cover(src='./pic/blog-preview-1.jpg', width='126', height='121', alt='')
									.article-preview__item
										.article-preview--pic.scale
											img.img-cover(src='./pic/blog-preview-2.jpg', width='126', height='121', alt='')
									.article-preview__item
										.article-preview--pic.scale
											img.img-cover(src='./pic/blog-preview-3.jpg', width='126', height='121', alt='')
									.article-preview__item
										.article-preview--pic.scale
											img.img-cover(src='./pic/blog-preview-4.jpg', width='126', height='121', alt='')
									.article-preview__item
										.article-preview--pic.scale
											img.img-cover(src='./pic/blog-preview-5.jpg', width='126', height='121', alt='')
					.blog
						span.title-h2 Другие публикации
						.blog__row
							.blog__grid(data-ratio='0.6522')
								.blog__item
									a.item-blog(href='javascript:void(0);')
										.item-blog--pic.scale
											span.item-blog--date 10 июля 2017
											img.img-cover(src='./pic/blog-1.jpg', width='368', height='240', alt='')
										span.item-blog--title Акция на конвекционную электрическую печь Unox XEBC-10EU-E1R
								.blog__item
									a.item-blog(href='javascript:void(0);')
										.item-blog--pic.scale
											span.item-blog--date 7 июля 2017
											img.img-cover(src='./pic/blog-2.jpg', width='368', height='240', alt='')
										span.item-blog--title Миксер для молочных коктейлей !!!
								.blog__item
									a.item-blog(href='javascript:void(0);')
										.item-blog--pic.scale
											span.item-blog--date 10 июля 2017
											img.img-cover(src='./pic/blog-3.jpg', width='368', height='240', alt='')
										span.item-blog--title Vortmax. Максимальные возможности на вашей кухне
		include modules/footer.pug
		include modules/modals.pug
		script(src='./js/libs.js')
		script(src='./js/scripts.js')