doctype html
html(lang='ru')
	title Оборудование профессиональной кухни
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, user-scalable=yes')
	link(href='./css/style.css', rel='stylesheet')
	body
		.wrapper
			include modules/header.pug
			.content
				.breadcrumbs
					ul
						li
							a(href='javascript:void(0);') Главная
						li
							a(href='javascript:void(0);') Каталог
						li Шкаф для выпечки
				.content__row
					span.title-h1 Тепловое оборудование
					.catalog-menu 
						.catalog-menu__item
							.catalog-menu__group
								.catalog-menu--title Сортировать по:
								select.catalog-menu--select
									option по цене
									option по цене
								select.catalog-menu--select
									option по алфавиту
									option по алфавиту
								select.catalog-menu--select
									option по алфавиту
									option по наличию
						.catalog-menu__item
							.catalog-menu__group
								.catalog-menu--title Товаров на странице:
								select.catalog-menu--select.catalog-menu--select_short
									option все
									option все
							.catalog-menu__group
								.catalog-menu--title Вид:
								.catalog-menu__view
									span.catalog-menu__view--item.catalog-menu__view--item_tile(data='catalog-tile')
									span.catalog-menu__view--item.catalog-menu__view--item_list(data='catalog-list')
									span.catalog-menu__view--item.catalog-menu__view--item_table.is-active(data='catalog-table')
					.catalog.catalog_wide
						.catalog__lc
							.catalog-grid.catalog-table
								.catalog__item
									.item-catalog
										.item-catalog__content
											span.tip-icon.tip-icon_special Акция
											.item-catalog--pic
												img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
											.item-catalog__info
												span.item-catalog--code Код: 0191
												span.elem--availability.elem--availability_true В наличии
												a.item-catalog--title(href='javascript:void(0);') Печь ротационная Tagliavini RTE 68 MAXI (крюк)
											.item-catalog__price 
												span.item-catalog__price--old 1 410 900 Р
												span.item-catalog__price--current 1 395 689 ₽
												.item-catalog__more
													span.item-catalog__more--button.item-catalog__more--button_compare
													span.item-catalog__more--button.item-catalog__more--button_favorite
											.item-catalog__controls
												button.item-catalog--button.item-catalog--button_buy Купить
												button.item-catalog--button.item-catalog--button_one-click в 1 клик
								.catalog__item
									.item-catalog
										.item-catalog__content
											.item-catalog--pic
												img.img-contain(src='./pic/catalog-2.png', width='200', height='200', alt='')
											.item-catalog__info
												span.item-catalog--code Код: 0191
												span.elem--availability.elem--availability_true В наличии
												a.item-catalog--title(href='javascript:void(0);') Котел пищеварочный стационарный КПЭМ-100/9Т
											.item-catalog__price 
												span.item-catalog__price--current 255 131 ₽
												.item-catalog__more
													span.item-catalog__more--button.item-catalog__more--button_compare
													span.item-catalog__more--button.item-catalog__more--button_favorite
											.item-catalog__controls
												button.item-catalog--button.item-catalog--button_buy Купить
												button.item-catalog--button.item-catalog--button_one-click в 1 клик
								.catalog__item
									.item-catalog
										.item-catalog__content
											span.tip-icon.tip-icon_hit Хит
											.item-catalog--pic
												img.img-contain(src='./pic/catalog-3.png', width='200', height='200', alt='')
											.item-catalog__info
												span.item-catalog--code Код: 0191
												span.elem--availability.elem--availability_true В наличии
												a.item-catalog--title(href='javascript:void(0);') Печь подовая Wiesheu EBO 68 L COMFORT NEW
											.item-catalog__price
												span.item-catalog__price--current 447 136 ₽
												.item-catalog__more
													span.item-catalog__more--button.item-catalog__more--button_compare
													span.item-catalog__more--button.item-catalog__more--button_favorite
											.item-catalog__controls
												button.item-catalog--button.item-catalog--button_buy Купить
												button.item-catalog--button.item-catalog--button_one-click в 1 клик
								.catalog__item
									.item-catalog
										.item-catalog__content
											span.tip-icon.tip-icon_special Акция
											.item-catalog--pic
												img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
											.item-catalog__info
												span.item-catalog--code Код: 0191
												span.elem--availability.elem--availability_true В наличии
												a.item-catalog--title(href='javascript:void(0);') Печь ротационная Tagliavini RTE 68 MAXI (крюк)
											.item-catalog__price 
												span.item-catalog__price--old 1 410 900 Р
												span.item-catalog__price--current 1 395 689 ₽
												.item-catalog__more
													span.item-catalog__more--button.item-catalog__more--button_compare
													span.item-catalog__more--button.item-catalog__more--button_favorite
											.item-catalog__controls
												button.item-catalog--button.item-catalog--button_buy Купить
												button.item-catalog--button.item-catalog--button_one-click в 1 клик
								.catalog__item
									.item-catalog
										.item-catalog__content
											.item-catalog--pic
												img.img-contain(src='./pic/catalog-2.png', width='200', height='200', alt='')
											.item-catalog__info
												span.item-catalog--code Код: 0191
												span.elem--availability.elem--availability_true В наличии
												a.item-catalog--title(href='javascript:void(0);') Котел пищеварочный стационарный КПЭМ-100/9Т
											.item-catalog__price 
												span.item-catalog__price--current 255 131 ₽
												.item-catalog__more
													span.item-catalog__more--button.item-catalog__more--button_compare
													span.item-catalog__more--button.item-catalog__more--button_favorite
											.item-catalog__controls
												button.item-catalog--button.item-catalog--button_buy Купить
												button.item-catalog--button.item-catalog--button_one-click в 1 клик
								.catalog__item
									.item-catalog
										.item-catalog__content
											span.tip-icon.tip-icon_hit Хит
											.item-catalog--pic
												img.img-contain(src='./pic/catalog-3.png', width='200', height='200', alt='')
											.item-catalog__info
												span.item-catalog--code Код: 0191
												span.elem--availability.elem--availability_true В наличии
												a.item-catalog--title(href='javascript:void(0);') Печь подовая Wiesheu EBO 68 L COMFORT NEW
											.item-catalog__price
												span.item-catalog__price--current 447 136 ₽
												.item-catalog__more
													span.item-catalog__more--button.item-catalog__more--button_compare
													span.item-catalog__more--button.item-catalog__more--button_favorite
											.item-catalog__controls
												button.item-catalog--button.item-catalog--button_buy Купить
												button.item-catalog--button.item-catalog--button_one-click в 1 клик
								.catalog__item
									.item-catalog
										.item-catalog__content
											span.tip-icon.tip-icon_special Акция
											.item-catalog--pic
												img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
											.item-catalog__info
												span.item-catalog--code Код: 0191
												span.elem--availability.elem--availability_true В наличии
												a.item-catalog--title(href='javascript:void(0);') Печь ротационная Tagliavini RTE 68 MAXI (крюк)
											.item-catalog__price 
												span.item-catalog__price--old 1 410 900 Р
												span.item-catalog__price--current 1 395 689 ₽
												.item-catalog__more
													span.item-catalog__more--button.item-catalog__more--button_compare
													span.item-catalog__more--button.item-catalog__more--button_favorite
											.item-catalog__controls
												button.item-catalog--button.item-catalog--button_buy Купить
												button.item-catalog--button.item-catalog--button_one-click в 1 клик
								.catalog__item
									.item-catalog
										.item-catalog__content
											.item-catalog--pic
												img.img-contain(src='./pic/catalog-2.png', width='200', height='200', alt='')
											.item-catalog__info
												span.item-catalog--code Код: 0191
												span.elem--availability.elem--availability_true В наличии
												a.item-catalog--title(href='javascript:void(0);') Котел пищеварочный стационарный КПЭМ-100/9Т
											.item-catalog__price 
												span.item-catalog__price--current 255 131 ₽
												.item-catalog__more
													span.item-catalog__more--button.item-catalog__more--button_compare
													span.item-catalog__more--button.item-catalog__more--button_favorite
											.item-catalog__controls
												button.item-catalog--button.item-catalog--button_buy Купить
												button.item-catalog--button.item-catalog--button_one-click в 1 клик
								.catalog__item
									.item-catalog
										.item-catalog__content
											span.tip-icon.tip-icon_hit Хит
											.item-catalog--pic
												img.img-contain(src='./pic/catalog-3.png', width='200', height='200', alt='')
											.item-catalog__info
												span.item-catalog--code Код: 0191
												span.elem--availability.elem--availability_true В наличии
												a.item-catalog--title(href='javascript:void(0);') Печь подовая Wiesheu EBO 68 L COMFORT NEW
											.item-catalog__price
												span.item-catalog__price--current 447 136 ₽
												.item-catalog__more
													span.item-catalog__more--button.item-catalog__more--button_compare
													span.item-catalog__more--button.item-catalog__more--button_favorite
											.item-catalog__controls
												button.item-catalog--button.item-catalog--button_buy Купить
												button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.pagination
								a.pagination--item(href='javascript:void(0);') 1
								a.pagination--item.is-active(href='javascript:void(0);') 2
								a.pagination--item(href='javascript:void(0);') 3
								a.pagination--item(href='javascript:void(0);') 4
								a.pagination--item(href='javascript:void(0);') 5
								a.pagination--item(href='javascript:void(0);') 6
								a.pagination--item.pagination--item_next(href='javascript:void(0);')
						.catalog__rc
							.filter
								.filter__group
									.filter--title.is-opened #[span Цена] #[i]
									.filter__content
										.filter-price
											.filter-price--slider(data-min='10000', data-start='200000', data-end='1500000', data-max='2000000')
											.filter-price__range
												.filter-price__range--item
													input.filter-price--min(type='text') 
													em ₽
													span.hidden-area
												.filter-price__range--item
													input.filter-price--max(type='text')
													em ₽
													span.hidden-area
								.filter__group
									.filter--title.is-opened #[span Бренд] #[i]
									.filter__content
										.filter__list
											.filter__list--item
												label #[input(type='checkbox')] AEG #[span (58)]
											.filter__list--item
												label #[input(type='checkbox')] ASKO #[span (132)]
											.filter__list--item
												label #[input(type='checkbox')] ATESY #[span (404)]
											.filter__list--item
												label #[input(type='checkbox')] Abat #[span (580)]
											.filter__list--item
												label #[input(type='checkbox')] Airhot #[span (132)]
											.filter__list--item
												label #[input(type='checkbox')] Alexander Solia #[span (39)]
											.filter__list--item
												label #[input(type='checkbox')] Apach #[span (39)]
								.filter__group
									.filter--title #[span Гарантийный срок] #[i]
									.filter__content
										.filter__list
											.filter__list--item
												label #[input(type='checkbox')] до 6 месяцев
											.filter__list--item
												label #[input(type='checkbox')] 6-12 месяцев
											.filter__list--item
												label #[input(type='checkbox')] от 1 года
								.filter__group
									.filter--title #[span Источник питания] #[i]
									.filter__content
										.filter__list
											.filter__list--item
												label #[input(type='checkbox')] 220В 50Гц
											.filter__list--item
												label #[input(type='checkbox')] 100В 60Гц
								.filter__group
									.filter--title #[span Количество уровней] #[i]
									.filter__content
										.filter__list
											.filter__list--item
												label #[input(type='checkbox')] 1
											.filter__list--item
												label #[input(type='checkbox')] 2
											.filter__list--item
												label #[input(type='checkbox')] 3
								.filter__group
									.filter--title #[span Страна-производитель] #[i]
									.filter__content
										.filter__list
											.filter__list--item
												label #[input(type='checkbox')] Китай
											.filter__list--item
												label #[input(type='checkbox')] Корея
		include modules/footer.pug
		include modules/modals.pug
		script(src='./js/libs.js')
		script(src='./js/scripts.js')