doctype html
html(lang='ru')
	title Оборудование профессиональной кухни
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, user-scalable=yes')
	link(href='./css/style.css', rel='stylesheet')
	body
		include modules/header.pug
		.content
			.breadcrumbs
				ul
					li
						a(href='javascript:void(0);') Главная
					li Избранные товары
			.content__row
				span.title-h1 Избранные товары
				.catalog
					.catalog__lc
						.catalog-grid.catalog-table.catalog-table_favorite
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Печь хлебопекарная Восход ХПЭ-500 нерж. сталь, в обрешетке
										.item-catalog__price 
											span.item-catalog__price--old 1 410 900 Р
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Плита электрическая MARENO NCT78EC
										.item-catalog__price 
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Плита электрическая MARENO NCT78EC
										.item-catalog__price 
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Печь хлебопекарная Восход ХПЭ-500 нерж. сталь, в обрешетке
										.item-catalog__price 
											span.item-catalog__price--old 1 410 900 Р
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Плита электрическая MARENO NCT78EC
										.item-catalog__price 
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Плита электрическая MARENO NCT78EC
										.item-catalog__price 
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Печь хлебопекарная Восход ХПЭ-500 нерж. сталь, в обрешетке
										.item-catalog__price 
											span.item-catalog__price--old 1 410 900 Р
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Плита электрическая MARENO NCT78EC
										.item-catalog__price 
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Плита электрическая MARENO NCT78EC
										.item-catalog__price 
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Печь хлебопекарная Восход ХПЭ-500 нерж. сталь, в обрешетке
										.item-catalog__price 
											span.item-catalog__price--old 1 410 900 Р
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Плита электрическая MARENO NCT78EC
										.item-catalog__price 
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
							.catalog__item
								.item-catalog
									.item-catalog__content
										span.tip-icon.tip-icon_special Акция
										.item-catalog--pic
											img.img-contain(src='./pic/catalog-1.png', width='200', height='200', alt='')
										.item-catalog__info
											span.item-catalog--code Код: 0191
											span.elem--availability.elem--availability_true В наличии
											a.item-catalog--title(href='javascript:void(0);') Плита электрическая MARENO NCT78EC
										.item-catalog__price 
											span.item-catalog__price--current 1 395 689 ₽
											.item-catalog__more
												span.item-catalog__more--button.item-catalog__more--button_compare
												span.item-catalog__more--button.item-catalog__more--button_remove
										.item-catalog__controls
											button.item-catalog--button.item-catalog--button_buy Купить
											button.item-catalog--button.item-catalog--button_one-click в 1 клик
					.catalog__rc
						.user
							.user__about
								.user--name Петренко Иван Сергеевич
								.user--contact +7 (913) 222-33-44
								.user--contact ivanov@mail.ru
							.user__nav
								a.is-active(href='javascript:void(0);') Мой профиль
								a(href='javascript:void(0);') Мои заказы
								a(href='javascript:void(0);') Избранные товары
								a(href='javascript:void(0);') Выйти
		include modules/footer.pug
		include modules/modals.pug
		script(src='./js/libs.js')
		script(src='./js/scripts.js')